node_modules/

client/node_modules/

client/build/

client/dist/

client/.next/

client/.turbo/

client/.vite/

env.example
.env.*
*.env
.envrc


.env

.env.local

*env

./server/.env
server/.env.*
server/*.env
server/.envrc
server/.env.local
server/.env
server/.env.local
server/.env.local